{% include "common/doc_head" %}

<body>
    {% include "common/page_header" %}

    {% block content %}
	    <p>Something is wrong</p>
    {% endblock %}

    {% include "common/page_footer" %}

    {% include "common/js" %}
</body>
</html>